<!DOCTYPE html>
<html>
<head>
  <title>RecordKeeper</title>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One|Quicksand|Rokkitt|Exo|Dancing+Script|Raleway' rel='stylesheet' type='text/css'>
  <script type='text/javascript' src='/path/to/jquery-latest.js'></script>
  <script type='text/javascript' src='/path/to/jquery.tablesorter.js'></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>

  <div id='all'>

    <nav class='navbar navbar-default' role='navigation'>
      <div class='container-fluid'>
        <div class='navbar-header'>
          <a class='navbar-brand' href='/'>Record Keeper</a>
        </div>

        <ul class='nav navbar-nav navbar-right'>
          <% if user_signed_in? %>
            <!-- <li><a href='/users/sign_out'>LogOut</a></li> -->
            <li>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            </li>
            <li><a href='/users/edit'>Edit Account</a></li>
          <% else %>
           <!--  <li><a href='/users/sign_up'>Sign Up</a></li>
            <li><a href='/users/sign_in'>Login</a></li> -->
            <%= button_to "Sign Up", new_user_registration_path %>
            <%= button_to "Login", new_user_session_path %>
            <%= button_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
          <% end %>
        </ul>
      </div>
    </nav>

    <div>
    </div>
  </div>
<%= yield %>

</body>
</html>
